.main {
    background-color: rgba(115, 144, 249, .2);
}

.paragraph {
    font-family: var(--titlesfontfamily);
    text-align: justify;
    width: 90%;
    margin: 0 auto 2em;
}

.image {
    width: 500px;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}