html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  --basicfontcolor:#2A2C32;
  --basicbtncolor:#2a2c32;
  --detailscolor:#7390F9;
  --contentfontfamily:'Fraunches', serif;
  --titlesfontfamily:'Mulish', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    min-height: 28px;
  }
/*Key frames didnt work when they were in css module*/
@keyframes slidein {
  100% {
    right: 0%;
  }
}



