.main {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 5em;
}

.dark {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 5em;
    /*styles for dar theme*/
    background-color: var(--basicbtncolor);
    color: #BBBBBC;
}

.logo-cont {
    display: flex;
    height: 60px;
    
}

.link-wrapper {
    background-image: url('../public/jglogo.svg');
    background-repeat: no-repeat;
    width: 80px;
    cursor: pointer;
}

.link-wrapper-dark {
    background-image: url('../public/jggris.svg');
    background-repeat: no-repeat;
    width: 80px;
    cursor: pointer;
}

.nav-cont {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.header__anchor {
    font-family: var(--titlesfontfamily);
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 2em;
    letter-spacing: 0.025em;
}

.header__anchor_dark:hover {
    color: white;
    transition: 1.5s;
}