.main {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-family:var(--titlesfontfamily);
    color:var(--basicfontcolor);
    padding: 0 5%;
}

.burger_wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.burger_background {
    background-color: #242F65;
    border-radius: 10px;
    padding: 1.1em 1.1em;
}

.burger_background_active {
    background-color: #ff774c;
}

@media screen and (min-width:580px) {
    .main {
        height: 35vh;
    }
}

/* .logo-cont {
    height: 60px;
} */


/* .main {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 5em;
    position: relative;
    font-family:var(--titlesfontfamily);
    color:var(--basicfontcolor);
}

.dark {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 5em;
    background-color: var(--basicbtncolor);
    color: #BBBBBC;
}

.logo-cont {
    display: flex;
    height: 60px;
}

.anchor {
    display: flex;
}

.burguer_icon {
    width: 35px;
}

.nav {
    flex-grow: 1;
}

.nav-cont {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
 */
