.homebanner {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.info_cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    color:var(--basicfontcolor);
    font-family: var(--contentfontfamily);
    font-weight: 600;
    align-items: center;
}

.greeting_cont {
    display: flex;
}

.homebanner__greeting {
    font-size: 1.7rem;
}

.name {
    margin-top: 10px;
    font-size: 2rem;
}

.span {
    background-color: var(--detailscolor);
    color: white;
    border-radius: 10px;
    font-weight: 400;
    padding: 8px 16px;
    width: fit-content;
}

.occupation {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.email {
    font-family: var(--titlesfontfamily);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--detailscolor);
}

.anchor {
    display: flex;
    background-color: var(--basicbtncolor);
    color: white;
    padding: 1em 3em;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: var(--titlesfontfamily); 
    font-weight: 500;
    letter-spacing: 0.025em;
    width: 60%;
    justify-content: center;
}
/*Takes effect when 1224px+*/
.anchor:hover {
    background-color: white;
    color: var(--basicfontcolor);
    border: 1px solid var(--basicbtncolor);
    transition: .4s;
}

.img-cont {
    margin: 0 auto;
} 

.personal_pic {
    /* max-width: 640px; */
    border-radius: 32px;
}
/* media queries  */

@media only screen and (min-width: 1024px) {
    .personal_pic {
        max-width: 640px;
       
    }
}

@media only screen and (min-width: 1024px) {
    .homebanner__greeting {
        font-size: 2.5rem;
    }

    .name {
        font-size: 3.5rem;
    }

    .occupation {
        font-size: 3rem;
    }

    .email {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1224px) {
    .homebanner {
        flex-direction: row;    
    }

    .info_cont {
        align-items: flex-start;
    }

    .homebanner__greeting {
        font-size: 3rem;
    }

    .name {
        font-size: 4.5rem;
    }

    .occupation {
        font-size: 4rem;
    }

    .email {
        font-size: 1.9rem;
    }

    .anchor {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1600px) {
    .homebanner {
        width: 100%;
        padding: 0 15%;
    }
}
/* display: flex;
    flex-direction: column;
    color:var(--basicfontcolor);
    font-family: var(--contentfontfamily);
    font-weight: 600;
    align-items: flex-start; */


/* .homebanner {
    display: flex;
    padding: 0 2.5em;
    background-size: cover;
    background-repeat: no-repeat;
}

.info {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 2.5em;
}

.info-cont {
    display: flex;
    flex-direction: column;
    color:var(--basicfontcolor);
    font-family: var(--contentfontfamily);
    font-weight: 600;
    align-items: flex-start;
}

.greeting-cont {
    display: flex;
}

.homebanner__greeting {
    font-size: 2.5rem;
}

.emojy {
    width: 1em;
}

.name {
    margin-top: 10px;
    font-size: 4.5rem;
}

.span {
    background-color: var(--detailscolor);
    color: white;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px 20px;
}

.occupation {
    font-size: 4.5rem;
    display: flex;
    align-items: center;
}

.email {
    font-family: var(--titlesfontfamily);
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--detailscolor);
}

.anchor {
    background-color: var(--basicbtncolor);
    color: white;
    padding: 1em 3em;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: var(--titlesfontfamily); 
    font-weight: 500;
    letter-spacing: 0.025em;
}

.anchor:hover {
    background-color: white;
    color: var(--basicfontcolor);
    border: 1px solid var(--basicbtncolor);
    transition: .4s;
}

.img-cont {
    display: flex;
    width: 50%;
} */