.img-cont {
    display: inline-flex;
}

.icon-cont {
    display: flex;
    align-items: center;
}

.smallicon {
    width: 40px;
}

.arrow-cont {
    height: 10px;
}

.img {
    max-height: 100px;
}

.nextjs_svg {
    transform: translateX(4%);
    shape-rendering: auto;
}

.svg {
    max-height: 80px;
}

.giticon {
    max-width: 60%;
}

.linkedinicon {
    margin-left: 1em;
}

.jgicon {
    min-width: 100px;
    max-width: 100px;
    fill: #242F65;
}

.jgicon_dark {
    fill: #bbbbbc;
}

.jgicon_dark:hover {
    fill: white;
    transition: 1s;
}

.burguer_icon {
    width: 25px;
    fill: white;
}
