.main {
    background-color: #000;
    opacity: .5;
    z-index: 100;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
}

.main-hide {
    display: none;
}

.btn {
    background-color: var(--detailscolor);
    z-index: 200;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 20px;
    padding: .5em 1em;
    cursor: pointer;
}