.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
/* Only visible at 1024px */
.anchor {
    font-family: var(--titlesfontfamily);
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 2em;
    letter-spacing: 0.025em;
}

@media only screen and (max-width: 1024px) {
    .main {
        display: none;
    }
}