.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.project {
    position: relative;
    width: 100%;
    /*line-height eliminates weird whitespace below images*/
    line-height: 0;
}
/*Takes effect when 1224px +*/
.project_img {
    border-radius: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 1em;
}

.repo-cont {
    display: flex;
    margin-top: 1em;
}

.repo-row {
    display: flex;
    height: 40px;
    width: 100%;
}

.links-relative-cont {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.links-cont-hidden {
    display: none;
}

.links-cont {
    display: flex;
    position: absolute;
    right: 100%;
    -webkit-animation-name: 'slidein';
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards;
}

.link {
    font-family: var(--titlesfontfamily);
}

.back {
    margin-left: 1em;
}

.front {
    margin-right: 1em;
}

.stack-cont {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

@media screen and (max-width:1223px) {
    .main {
        display: none;
    }
}

@media screen and (min-width:1224px) {
    .project {
        width: 90%;
    }
}