.main {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--basicfontcolor);
    margin-bottom: 2em;
    font-family: var(--titlesfontfamily);
    font-size: 1.3rem;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
} */
