.main {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--basicfontcolor);
    margin-bottom: 2em;
    font-family: var(--titlesfontfamily);
    font-size: 1.3rem;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

@media screen and (min-width:1224px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 1.5rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
} */
