.projects {
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.container {
    display: flex;
    justify-content: space-around;
}
