.slideshow {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1025px;
    border-radius: 10px;
}

.slider {
    display:flex;
    transition: ease 1000ms;
    
}

.image {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dots-cont {
    display: flex;
    padding: 1em 0;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 .2em;
    cursor: pointer;
}

.active {
    background-color: gray;
}

@media screen and (min-width:1224px) {
    .slideshow {
        max-width: 550px;
    }
}
